{% extends 'base.html.twig' %}

{% block title %}Edit Affectationinterview{% endblock %}

{% block body %}
    <h1>Edit Affectationinterview</h1>

    {{ include('affectationinterview/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_affectationinterview_index') }}">back to list</a>

    {{ include('affectationinterview/_delete_form.html.twig') }}
{% endblock %}
