<form method="post" action="{{ path('app_affectation_admin_delete', {'id': affectationhebergement.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ affectationhebergement.id) }}">
    <button class="btn">Delete</button>
</form>
