<form method="post" action="{{ path('app_brancheentreprise_delete', {'idbranche': brancheentreprise.idbranche}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ brancheentreprise.idbranche) }}">
    <button class="btn">Delete</button>
</form>
