{% extends 'base.html.twig' %}

{% block title %}Edit Affectationhebergement{% endblock %}

{% block body %}
    <h1>Edit Affectationhebergement</h1>

    {{ include('affectationhebergement/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_affectationhebergement_index') }}">back to list</a>

    {{ include('affectationhebergement/_delete_form.html.twig') }}
{% endblock %}
