<form method="post" action="{{ path('app_interview_delete', {'idinterview': interview.idinterview}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ interview.idinterview) }}">
    <button class="btn">Delete</button>
</form>
