{% extends 'base.html.twig' %}

{% block title %}Modifier l'offre{% endblock %}

{% block body %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-lg">
                <div class="card-header bg-primary text-white">
                    <h1 class="h4 mb-0">
                        <i class="fas fa-edit me-2"></i>Modifier l'offre
                    </h1>
                </div>
                
                <div class="card-body">
                    {{ include('offre/_form.html.twig', {
                        'form': form,
                        'button_label': 'Mettre à jour',
                        'offre': offre
                    }) }}
                </div>
                
                <div class="card-footer bg-light">
                    <div class="d-flex justify-content-between">
                        <a href="{{ path('front_offre_index') }}" class="btn btn-outline-secondary">
                            <i class="fas fa-arrow-left me-1"></i> Retour à la liste
                        </a>
                        
                        {{ include('offre/_delete_form.html.twig', {
                            'offre': offre
                        }) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}